//
//  Production-Release.xcconfig
//  ConfiguragtionsExample
//
//  Created by Moath_Othman on 11/22/19.
//  Copyright © 2019 whitetorch. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
PRODUCT_BUNDLE_ID=com.whitetorch.ConfiguragtionsExample
APP_NAME = Production App
Environment = Production
